@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1 style="color : rgb(120, 117, 181);">ForgetPassword</h1>
<form asp-action="ForgetPassword" method="post" class="login">
    <div asp-validation-summary="All"></div>
    <input type="email" class="login__input" asp-for="Email"  placeholder="Email" />
    <br />
    <span asp-validation-for="Email"></span>
    <input type="submit" class="button login__submit" value="Reset Password" />
</form>
